@using ProdCate.Models;
@model CateInfoView;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Category Page</title>
</head>
<body>
    @{
        @* Cate Display = Model.ToRender; *@
        Asso AddProd = Model.AddProd;
        List<Prod> ProdToAdd = Model.ToAdd;
    }
    <div id="container">
        <h1>@Model.ToRender.CateName</h1>
        <div class="col">
            <h2>Products:</h2>
            @foreach (Asso ass in Model.ToRender.AssignedProd)
            {
                <h3>@ass.ProdWithCate.ProdName</h3>
            }
        </div>
        <div class="col">
            <h2>Add Product:</h2>
            <form asp-action="ProdToCate">
                <label asp-for="@AddProd.ProdId"></label>
                <select asp-for="@AddProd.ProdId">
                    @foreach (Prod pro in ProdToAdd)
                    {
                        <option value="@pro.ProdId">@pro.ProdName</option>
                    }
                </select>
                <input type="hidden" asp-for="@AddProd.Cateid" value="@Model.ToRender.Cateid">
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
</body>
</html>