@using ProdCate.Models;
@model ProdInfoView;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>A Web Page</title>
</head>
<body>
    <div id="container">
        @{
            Prod Display = Model.ToRender;
            Asso AddCate = Model.AddCate;
            List<Cate> CateToAdd = Model.ToAdd;
        }
        <h1>@Display.ProdName</h1>
        <div class="col">
            <h2>Categories:</h2>
            @foreach (Asso ass in Display.AssignedCate)
            {
                <h3>@ass.CateWithProd.CateName</h3>
            }
        </div>
        <div class="col">
            <h2>Add Category:</h2>
            <form asp-action="CateToProd">
                <label asp-for="@AddCate.Cateid"></label>
                <select asp-for="@AddCate.Cateid">
                    @foreach (Cate cat in CateToAdd)
                    {
                        <option value="@cat.Cateid">@cat.CateName</option>
                    }
                </select>
                <input type="hidden" asp-for="@AddCate.ProdId" value="@Display.ProdId">
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
</body>
</html>