<div class="card">
    <div class="card-header bg-dark text-light">Level 1</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
        <ol>
            <li>All Women's Leagues</li>
            @foreach (var l in ViewBag.WomensLeagues)
            {
                <ul>@l.Name</ul>
            }
            <li>All Hockey Leagues</li>
            @foreach (var l in ViewBag.HockeyLeagues)
            {
                <ul>@l.Name</ul>
            }
            <li>Not A Football League</li>
            @foreach (var l in ViewBag.NotFootballLeagues)
            {
                <ul>@l.Name</ul>
            }
            <li>All Conferences</li>
            @foreach (var l in ViewBag.Conferences)
            {
                <ul>@l.Name</ul>
            }
            <li>All in Atlantic Region</li>
            @foreach (var l in ViewBag.AtlanticLeagues)
            {
                <ul>@l.Name</ul>
            }
            <li>All Dallas Teams</li>
            @foreach (var t in ViewBag.DallasTeams)
            {
                <ul>@t.TeamName</ul>
            }
            <li>Raptors</li>
            @foreach (var t in ViewBag.Raptors)
            {
                <ul>@t.Name</ul>
            }
            <li>...all teams whose location includes "City"</li>
            @foreach (var l in ViewBag.CityLocation)
            {
                <ul>@t.Name</ul>
            }
            <li>...all teams whose names begin with "T"</li>
            @foreach (var t in VeiwBag.StartWithT)
            {
                <ul>@t.Name</ul>
            }
            <li>...all teams, ordered alphabetically by location</li>
            @foreach (var t in viewBag.AllTeamsLocation)
            {
                <ul>@t.TeamName</ul>
            }
            <li>...all teams, ordered by team name in reverse alphabetical order</li>
            @foreach (var t in ViewBag.AllTeamsName)
            {
                <ul>t.TeamName</ul>
            }
            <li>...every player with last name "Cooper"</li>
            @foreach (var p in ViewBag.LNameCooper)
            {
                <ul>@p.FirstName</ul>
            }
            <li>...every player with first name "Joshua"</li>
            @foreach (var p in ViewBag.FNameJoshua)
            {
                <ul>@p.FirstName</ul>
            }
            <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>
            @foreach (var p in ViewBag.CooperNotJoshua)
            {
                <ul>@p.FirstName</ul>
            }
            <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
            @foreach (var p in ViewBag.AlexanderOrWyatt)
            {
                <ul>@p.FirstName</ul>
            }
        </ol>
    </div>
</div>